* {
  margin: 0;
  box-sizing: border-box;
  background: --body-bg-color;

  font-family: Poppins, sans-serif;
  color: #BB99DD;
}

:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.avatar {
  display: flex;
  justify-content: center;
  width: 12.5rem;
  height: 12.5rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  border: 5px solid #FAF7FD;
  outline: 2px solid #BB99DD;
  background-color: #BB99DD;
  overflow: hidden;
  
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.375rem;
  height: 3.0625rem;
  margin-bottom: 1rem;
  border: 2px solid #BB99DD;

  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #BB99DD;
}

.social {
  display: flex;
  gap: 1.8125rem;
  margin-top: 1.25rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 300;
}